p {
    color: rgb(163, 178, 180);
    width:800px;
    margin:auto;
}
img {
    width: 600px;
}
figure{
    width: 600px;
    margin:auto;
}
figcaption{
    color:rgb(128, 128, 124);
    margin:auto;
    text-align:center;
    font-style:italic;

}
h1{
    margin:auto;
    text-align:center;
}
h2{
    text-align:center;
    margin:auto; 
}
h3{
    color:rgb(145, 134, 126);
    text-align:center;
    margin:auto;
}